<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container-fluid">
   <div class="container-md aa">
    <div class="container-fluid">
        <h1 class="pt-2" style=" color: aliceblue;">Let's check Weather <img class="logo" src="img/weather-91.png" alt=""></h1>

    </div>
    <div class="container-fluid aaa">
        <div class="row">
            <div class="col-sm-6 xxx">
                <form action="/weather-info" method="post">
                    <div class="input-group flex-nowrap pb-5">
                        <span class="input-group-text" id="addon-wrapping"></span>
                        <input type="text" class="form-control" placeholder="Enter location" aria-label="Username" name="location" aria-describedby="addon-wrapping">
                      </div>
                    <!-- <input class="input" type="text" name="location"  placeholder="enter your location"> -->
                    <input  class="btn btn-outline-primary" type="submit" value="search">
                    
                </form>
            </div>
            <div class="col-sm-6 yyy" style="color: antiquewhite;">
                <h3>City: <%- city %></h3>
                <h3>Weather: <%-weather%></h3>
                <h3>Temp: <%- temperature %>C</h3>
            </div>
        </div>
       
        
    </div>
   
 
  
</div>
</div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
